{% extends 'photos/base.html' %} {% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">All {{category}} Photos</h1>
        <p class="lead text-muted">Assorted photos for {{category}} .</p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for gallery_item in gallery %}
          <div class="photo-wrapper">
            <div class="col">
              <div class="card shadow-sm">
                <img
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  src="{{gallery_item.image.url}}"
                  alt=""
                />
                <div class="card-body">
                  <p class="card-text">
                    <span class="photo-category"
                      >{{gallery_item.category}} :</span
                    >
                    <span class="photo-name"
                      >{{gallery_item.name|truncatechars:15}}</span
                    >
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary view-photo-detail"
                        data-photoid="{{gallery_item.id}}"
                      >
                        View
                      </button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
